#profile-abstract-1 {
  background-color: yellow;
}
#profile-why-a-basic-profile-1-x {
  background-color: yellow;
}
#profiling-mechanism-1 {
  background-color: yellow;
}
#profiling-mechanism-2 {
  background-color: yellow;
}
#profiling-mechanism-3 {
  background-color: yellow;
}
#profiling-mechanism-4 {
  background-color: yellow;
}
#common-constraints-a11y-1 {
  background-color: yellow;
}
#common-constraints-a11y-2 {
  background-color: yellow;
}
#common-constraints-units {
  background-color: yellow;
}
#common-constraints-units-metric {
  background-color: yellow;
}
#common-constraints-date-format-1 {
  background-color: yellow;
}
#common-constraints-security-2 {
  background-color: yellow;
}
#common-constraints-security-3 {
  background-color: yellow;
}
#common-constraints-security-6 {
  background-color: yellow;
}
#common-constraints-security-7 {
  background-color: yellow;
}
#common-constraints-discovery-1 {
  background-color: yellow;
}
#common-constraints-links-1 {
  background-color: yellow;
}
#common-constraints-links-3 {
  background-color: yellow;
}
#common-constraints-links-media-types-1 {
  background-color: yellow;
}
#common-constraints-links-media-types-2 {
  background-color: yellow;
}
#common-constraints-links-media-types-4 {
  background-color: yellow;
}
#common-constraints-links-media-types-5 {
  background-color: yellow;
}
#common-constraints-links-media-types-6 {
  background-color: yellow;
}
#common-constraints-links-media-types-7 {
  background-color: yellow;
}
#common-constraints-links-media-types-8 {
  background-color: yellow;
}
#common-constraints-errors-3 {
  background-color: yellow;
}
#common-constraints-errors-6 {
  background-color: yellow;
}
#common-constraints-errors-7 {
  background-color: yellow;
}
#common-constraints-default-language {
  background-color: yellow;
}
#http-basic-profile-1 {
  background-color: yellow;
}
#http-basic-profile-identifier-1 {
  background-color: yellow;
}
#profile-5-2-thing-protocol-binding-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-readproperty-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-readproperty-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-readproperty-4 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-writeproperty-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-writeproperty-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-writeproperty-4 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-readallproperties-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-readallproperties-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-readallproperties-4 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-writemultipleproperties-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-bindings-writemultipleproperties-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-writemultipleproperties-4 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-writemultipleproperties-6 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-4 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-6 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-7 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-8 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-9 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-11 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-12 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-13 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-14 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-15 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-16 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-17 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-18 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-19 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-20 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-invokeaction-21 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryaction-1a {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryaction-1b {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryaction-2 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryaction-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryaction-5 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryaction-7a {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryaction-7b {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-cancelaction-1a {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-cancelaction-1b {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-cancelaction-2 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-cancelaction-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryallactions-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryallactions-3 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryallactions-4 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryallactions-6a {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-queryallactions-6b {
  background-color: yellow;
}
#http-sse-profile-1 {
  background-color: yellow;
}
#http-sse-profile-identifier-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-2 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-3 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-4 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-5a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-5b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-5c {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-5d {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-6a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeproperty-6b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-unobserveproperty-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-2 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-3 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-4 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-5a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-5b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-5c {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-5d {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-5e {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-6a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-observeallproperties-6b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-unobserveallproperties-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-3 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-4 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-5 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-6a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-6b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-6c {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-6d {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-6e {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-7a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeevent-7b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-unsubscribeevent-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-1 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-3b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-4 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-3 {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-4a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-4b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-4c {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-4d {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-4e {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-5a {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-subscribeallevents-5b {
  background-color: yellow;
}
#http-sse-profile-protocol-binding-unsubscribeallevents-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-general-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-general-3 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-events-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-events-2 {
  background-color: yellow;
}
#http-webhook-profile-1 {
  background-color: yellow;
}
#http-webhook-profile-message-format-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-1 {
  background-color: yellow;
}
#http-basic-profile-protocol-binding-subscribeevent-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeevent-3 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeevent-4 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeevent-5 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeevent-6 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeevent-4b {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeallevents-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeallevents-3 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeallevents-4 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeallevents-5 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeallevents-6 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeallevents-7 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-subscribeallevents-8 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-unsubscribeallevents-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-event-connections-1 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-event-connections-2 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-event-connections-3 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-event-connections-4 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding--event-connections-5 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-event-connections-6 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-event-connections-7 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding--event-connections-8 {
  background-color: yellow;
}
#http-webhook-profile-protocol-binding-event-connections-9 {
  background-color: yellow;
}
#privacy-considerations-1 {
  background-color: yellow;
}
#security-considerations-1 {
  background-color: yellow;
}
